# VacationPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [38]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
import json

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [39]:
weather_csv_file = "output_data/weather_df.csv"

weather_df = pd.read_csv(weather_csv_file)

weather_df.head()

,Unnamed: 0,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
0,<<<<<<< HEAD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,0,ushuaia,75.0,AR,1.580538e+09,66.0,-54.80,-68.30,53.60,16.11
2,1,busselton,0.0,AU,1.580538e+09,20.0,-33.65,115.33,80.01,14.27
3,2,dulce grande,1.0,US,1.580538e+09,78.0,36.93,-107.00,24.01,3.36
4,3,dikson,78.0,RU,1.580538e+09,93.0,73.51,80.55,-11.61,10.27

In [40]:
weather_df = weather_df.loc[:, ~weather_df.columns.str.contains('^Unnamed')]
weather_df.head()

,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,ushuaia,75.0,AR,1.580538e+09,66.0,-54.80,-68.30,53.60,16.11
2,busselton,0.0,AU,1.580538e+09,20.0,-33.65,115.33,80.01,14.27
3,dulce grande,1.0,US,1.580538e+09,78.0,36.93,-107.00,24.01,3.36
4,dikson,78.0,RU,1.580538e+09,93.0,73.51,80.55,-11.61,10.27

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [41]:
gmaps.configure(api_key=g_key)

weather_df = weather_df.dropna()
humidity = weather_df["Humidity"].astype(float)

locations = weather_df[["Lat", "Lng"]].astype(float)


fig = gmaps.figure()

heat_layer = gmaps.heatmap_layer(locations, weights=humidity, 
                                 dissipating=False, max_intensity=max(weather_df["Humidity"]),
                                 point_radius = 3)

fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [42]:
filtered_weather_df = weather_df

filtered_weather_df = filtered_weather_df.loc[(filtered_weather_df["Max Temp"] < 80) & (filtered_weather_df["Max Temp"] > 70)]

filtered_weather_df = filtered_weather_df.loc[filtered_weather_df["Wind Speed"] < 10]

filtered_weather_df = filtered_weather_df.loc[filtered_weather_df["Cloudiness"] == 0]

filtered_weather_df = filtered_weather_df.dropna()

filtered_weather_df

,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
77,tura,0.0,IN,1.580538e+09,34.0,25.52,90.22,76.14,5.50
79,hesla,0.0,IN,1.580538e+09,29.0,24.07,85.88,70.11,1.52
170,ghatal,0.0,IN,1.580538e+09,34.0,22.67,87.72,75.31,4.65
182,catuday,0.0,PH,1.580538e+09,57.0,16.29,119.81,77.32,2.17
304,abu dhabi,0.0,IN,1.580538e+09,17.0,24.60,72.70,72.25,9.24
388,abu jubayhah,0.0,IN,1.580538e+09,17.0,24.60,72.70,72.25,9.24
429,pasni,0.0,PK,1.580538e+09,14.0,25.26,63.47,71.78,6.62
445,mahalapye,0.0,BW,1.580538e+09,44.0,-23.10,26.81,74.59,3.98
468,moron,0.0,AR,1.580538e+09,56.0,-34.65,-58.62,73.40,4.70
551,santa rosa,0.0,PH,1.580357e+09,58.0,17.49,120.43,78.48,8.01
800,santa maria,0.0,PH,1.580357e+09,58.0,17.49,120.43,78.48,8.01
867,dargaville,0.0,NZ,1.580357e+09,57.0,-35.93,173.88,77.34,9.91
873,fuerte olimpo,0.0,PH,1.580357e+09,58.0,17.54,120.36,78.48,8.01
1063,codrington,0.0,AU,1.580357e+09,44.0,-38.27,141.97,76.53,8.48

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [43]:
hotel_df = filtered_weather_df
hotel_df["Hotel Name"] = ""
hotel_df

,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed,Hotel Name
77,tura,0.0,IN,1.580538e+09,34.0,25.52,90.22,76.14,5.50,
79,hesla,0.0,IN,1.580538e+09,29.0,24.07,85.88,70.11,1.52,
170,ghatal,0.0,IN,1.580538e+09,34.0,22.67,87.72,75.31,4.65,
182,catuday,0.0,PH,1.580538e+09,57.0,16.29,119.81,77.32,2.17,
304,abu dhabi,0.0,IN,1.580538e+09,17.0,24.60,72.70,72.25,9.24,
388,abu jubayhah,0.0,IN,1.580538e+09,17.0,24.60,72.70,72.25,9.24,
429,pasni,0.0,PK,1.580538e+09,14.0,25.26,63.47,71.78,6.62,
445,mahalapye,0.0,BW,1.580538e+09,44.0,-23.10,26.81,74.59,3.98,
468,moron,0.0,AR,1.580538e+09,56.0,-34.65,-58.62,73.40,4.70,
551,santa rosa,0.0,PH,1.580357e+09,58.0,17.49,120.43,78.48,8.01,
800,santa maria,0.0,PH,1.580357e+09,58.0,17.49,120.43,78.48,8.01,
867,dargaville,0.0,NZ,1.580357e+09,57.0,-35.93,173.88,77.34,9.91,
873,fuerte olimpo,0.0,PH,1.580357e+09,58.0,17.54,120.36,78.48,8.01,
1063,codrington,0.0,AU,1.580357e+09,44.0,-38.27,141.97,76.53,8.48,

In [52]:
hotel_df = filtered_weather_df.reset_index(drop=True)
hotel_df["Hotel Name"] = ""

params = {
    "radius": 50000,
    "types": "hotel",
    "keyword": "hotels",
    "key": g_key
}

for index, row in hotel_df.iterrows():
    lat = row["Lat"]
    lng = row["Lng"]
    
    params["location"] = f"{lat},{lng}"
    
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    hotel_name = requests.get(base_url, params=params)
    
    hotel_name = hotel_name.json()
   
    try:
        hotel_df.loc[index, "Hotel Name"] = hotel_name["results"][0]["name"]
    except (KeyError, IndexError):
        print("Missing field/result... skipping.")
hotel_df

,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed,Hotel Name
0,tura,0.0,IN,1.580538e+09,34.0,25.52,90.22,76.14,5.50,Hotel Polo Orchid
1,hesla,0.0,IN,1.580538e+09,29.0,24.07,85.88,70.11,1.52,Hotel Meer Residency
2,ghatal,0.0,IN,1.580538e+09,34.0,22.67,87.72,75.31,4.65,The Roop River Resort - Best hotel in kolaghat
3,catuday,0.0,PH,1.580538e+09,57.0,16.29,119.81,77.32,2.17,Birdland Beach Club
4,abu dhabi,0.0,IN,1.580538e+09,17.0,24.60,72.70,72.25,9.24,Sterling Mount Abu Resorts and Hotels
5,abu jubayhah,0.0,IN,1.580538e+09,17.0,24.60,72.70,72.25,9.24,Sterling Mount Abu Resorts and Hotels
6,pasni,0.0,PK,1.580538e+09,14.0,25.26,63.47,71.78,6.62,pc Hotel
7,mahalapye,0.0,BW,1.580538e+09,44.0,-23.10,26.81,74.59,3.98,Maeto Lodge
8,moron,0.0,AR,1.580538e+09,56.0,-34.65,-58.62,73.40,4.70,Hilton Buenos Aires
9,santa rosa,0.0,PH,1.580357e+09,58.0,17.49,120.43,78.48,8.01,The Orange House - Vigan Villa
10,santa maria,0.0,PH,1.580357e+09,58.0,17.49,120.43,78.48,8.01,The Orange House - Vigan Villa
11,dargaville,0.0,NZ,1.580357e+09,57.0,-35.93,173.88,77.34,9.91,Sunset View Lodge
12,fuerte olimpo,0.0,PH,1.580357e+09,58.0,17.54,120.36,78.48,8.01,Vitalis Villas
13,codrington,0.0,AU,1.580357e+09,44.0,-38.27,141.97,76.53,8.48,Deep Blue Hotel & Hot Springs

In [53]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in filtered_weather_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [54]:
# Add marker layer ontop of heat map
fig = gmaps.figure()
markers = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(markers)
fig

# Display Map

Figure(layout=FigureLayout(height='420px'))